<!DOCTYPE html>
<html lang="en">
	<head>
		<title>messages</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav style='display: flex; justify-content: space-between; border-bottom: 1px solid black'>
			<a href='/'>clubhouse</a>
			<div style='display: flex; gap: 10px; list-style-type: none;'>
				<% if (session) { %>
				<a href="/join">join</a>
				<a href='/logout'>logout</a>
				<% } else { %>
				<a href='/signup'>sign up</a>
				<a href='/login'>log in</a>
				<% } %>
			</div>
		</nav>
		<main style='width: 300px; margin: auto;'>
			
		<% if (messages) { %>
			<% messages.forEach(function(m) { %>
				<div>
					<h1><%=m.title %></h1>
					<div><%=m.text %></div>
					<div>by: <%=m.user.username %></div>
					<div><%=m.date %></div>
				</div>
			<% }) %>
		<% } %>
		<% if (session) { %>
			<% if (session.member) { %>
				<form method='post' style='display: flex; flex-direction: column;'>
					<input name="title" placeholder='title' value=<%=message.title %>>
					<textarea name='text' placeholder='text' rows="3" cols="5"></textarea>
					<input type="submit" value="post">
				</form>
			<% } %>
		<% } %>
		<% if (errors) { %>
			<% errors.forEach(function(e) { %>
				<p style='color: red;'> <%= e.msg %></p>
			<% }) %>
		<% } %>
		</main>
	</body>
</html>
