extends layout

block content
  h1= title
  form(
    method='POST'
    action='/new'
  )
    input(
      name='user'
      placeholder='user'
      autofocus
    )
    input(
      name='text'
      placeholder='text'
    )
    input(
      type='submit'
    )
