extends layout

block content
	h1= category.name
	p= category.description

	h2 books
	if books.length
		each i in books
			dl
				dt
					a(href=i.url) #{i.name}
				dd= i.description
	else
		p no books
	
	hr

	a(href=category.url + '/update') update
	br
	a(href=category.url + '/delete') delete
