extends layout

block content
	h1= item.name
	a(href=item.category.url)= item.category.name
	p= item.description
	p= item.price
	p= item.quantity
	img(src='/' + item.image)
	
	hr
	
	a(href=item.url + '/update') update
	br
	a(href=item.url + '/delete') delete
